* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
.mainWrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.mainWrapperInner {
  display: table-cell;
  vertical-align: middle;
}
.beer-wrapper {
  width: 250px;
  margin: 0 auto;
}
.beer-wrapper svg {
  width: 100%;
}
#beer-liquid,
#beer-foam {
  -webkit-animation: beerliquidupdown 10s ease-in-out infinite;
  animation: beerliquidupdown 8s ease-in-out infinite;
}
circle[id^="foam-bubble"] {
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-animation: foambubble 2s ease-in-out infinite;
  animation: foambubble 2s ease-in-out infinite;
}
circle[id^="foam-bubble"]:nth-child(2),
circle[id^="foam-bubble"]:nth-child(5),
circle[id^="foam-bubble"]:nth-child(8),
circle[id^="foam-bubble"]:nth-child(11),
circle[id^="foam-bubble"]:nth-child(14),
circle[id^="foam-bubble"]:nth-child(17) {
  -webkit-animation-delay: 0.33s;
  animation-delay: 0.33s;
}
circle[id^="foam-bubble"]:nth-child(3),
circle[id^="foam-bubble"]:nth-child(6),
circle[id^="foam-bubble"]:nth-child(9),
circle[id^="foam-bubble"]:nth-child(12),
circle[id^="foam-bubble"]:nth-child(15),
circle[id^="foam-bubble"]:nth-child(18) {
  -webkit-animation-delay: 0.66s;
  animation-delay: 0.66s;
}
circle[id^="foam-bubble"]:nth-child(4),
circle[id^="foam-bubble"]:nth-child(7),
circle[id^="foam-bubble"]:nth-child(10),
circle[id^="foam-bubble"]:nth-child(13),
circle[id^="foam-bubble"]:nth-child(16),
circle[id^="foam-bubble"]:nth-child(4) {
  -webkit-animation-delay: 1;
  animation-delay: 1;
}
circle[id^="liquid-bubble"] {
  -webkit-animation: liquidbubble 1s ease-in infinite;
  animation: liquidbubble 1s ease-in infinite;
}
circle[id^="liquid-bubble"]:nth-child(1),
circle[id^="liquid-bubble"]:nth-child(4),
circle[id^="liquid-bubble"]:nth-child(7),
circle[id^="liquid-bubble"]:nth-child(10),
circle[id^="liquid-bubble"]:nth-child(13) {
  -webkit-animation-delay: 0.33s;
  animation-delay: 0.33s;
}
circle[id^="liquid-bubble"]:nth-child(2),
circle[id^="liquid-bubble"]:nth-child(5),
circle[id^="liquid-bubble"]:nth-child(8),
circle[id^="liquid-bubble"]:nth-child(11),
circle[id^="liquid-bubble"]:nth-child(14) {
  -webkit-animation-delay: 0.66s;
  animation-delay: 0.66s;
}
circle[id^="liquid-bubble"]:nth-child(3),
circle[id^="liquid-bubble"]:nth-child(6),
circle[id^="liquid-bubble"]:nth-child(9),
circle[id^="liquid-bubble"]:nth-child(12) {
  -webkit-animation-delay: 1;
  animation-delay: 1;
}
@-webkit-keyframes beerliquidupdown {
  0% {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
  }
  10% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  40% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(22px);
    transform: translateY(22px);
  }
  60% {
    -webkit-transform: translateY(22px);
    transform: translateY(22px);
  }
  70% {
    -webkit-transform: translateY(44px);
    transform: translateY(44px);
  }
  80% {
    -webkit-transform: translateY(44px);
    transform: translateY(44px);
  }
  90% {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
  }
  100% {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
  }
}
@keyframes beerliquidupdown {
  0% {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
  }
  10% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  40% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(22px);
    transform: translateY(22px);
  }
  60% {
    -webkit-transform: translateY(22px);
    transform: translateY(22px);
  }
  70% {
    -webkit-transform: translateY(44px);
    transform: translateY(44px);
  }
  80% {
    -webkit-transform: translateY(44px);
    transform: translateY(44px);
  }
  90% {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
  }
  100% {
    -webkit-transform: translateY(65px);
    transform: translateY(65px);
  }
}
@-webkit-keyframes foambubble {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes foambubble {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@-webkit-keyframes liquidbubble {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
@keyframes liquidbubble {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Bold;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: Lato-Regular;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
.container {
  max-width: 1200px;
}
.contact100-form {
  width: 100%;
}
.wrap-input100 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 50px;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
}
.input100 {
  display: block;
  width: 100%;
  background: transparent;
}
input.input100 {
  height: 100%;
  padding: 0 22px;
}
.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -2px;
  left: -2px;
  pointer-events: none;
  border: 2px solid #57b846;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scaleX(1.1) scaleY(1.2);
  -moz-transform: scaleX(1.1) scaleY(1.2);
  -ms-transform: scaleX(1.1) scaleY(1.2);
  -o-transform: scaleX(1.1) scaleY(1.2);
  transform: scaleX(1.1) scaleY(1.2);
}
.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.validate-input {
  position: relative;
}
.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;
  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}
.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
.cl0 {
  color: #fff;
}
.s2-txt1 {
  font-family: Lato-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #555;
}
.s2-txt2 {
  font-family: Lato-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
}
.s2-txt3 {
  font-family: Lato-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #999;
}
.s2-txt4 {
  font-family: Lato-Regular;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}
.m1-txt1 {
  font-family: Poppins-Regular;
  font-size: 24px;
  line-height: 1.5;
  color: #555;
}
.m1-txt2 {
  font-family: Poppins-Bold;
  font-size: 24px;
  line-height: 1.5;
  color: #555;
}
.l0-txt1 {
  font-family: Lato-Bold;
  font-size: 22px;
  line-height: 1;
  color: #fff;
}
.l1-txt1 {
  font-family: Lato-Bold;
  font-size: 33px;
  line-height: 1;
  color: #fff;
}
.l2-txt1 {
  font-family: Lato-Bold;
  font-size: 40px;
  line-height: 1;
  color: #fff;
}
.l3-txt1 {
  font-family: Lato-Bold;
  font-size: 60px;
  line-height: 1;
  color: #fff;
}
.size1 {
  width: 100%;
  min-height: 100vh;
}
.size2 {
  height: 100%;
  width: 71%;
}
.size3 {
  max-width: 650px;
  min-height: 100vh;
}
.size4 {
  width: 100%;
  height: 50px;
}
.size5 {
  width: 36px;
  height: 36px;
}
.size6 {
  width: 155px;
  height: 155px;
}
.wsize1 {
  max-width: 650px;
}
.wsize2 {
  max-width: 380px;
}
.hsize1 {
  min-height: 100vh;
}
.bg0 {
  background-color: #fff;
}
.bg1 {
  background-color: #57b846;
}
.bg3 {
  background-color: #3b5998;
}
.bg4 {
  background-color: #1da1f2;
}
.bg5 {
  background-color: #cd201f;
}
.bg-img1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bo1 {
  border: 1px solid #ebebeb;
}
.bor1 {
  border-radius: 5px;
}
.bor2 {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
.where1-parent {
  position: relative;
  z-index: 1;
}
.where1 {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}
.where2 {
  padding: 50px 50px 150px 320px;
}
.how1 {
  border-radius: 50%;
  font-size: 22px;
  color: #fff;
}
.how1:hover {
  background-color: #555;
  color: #fff;
}
.parallax100 {
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  .parallax100 {
    background-attachment: inherit;
  }
}
.placeholder0::-webkit-input-placeholder {
  color: #999;
}
.placeholder0:-moz-placeholder {
  color: #999;
}
.placeholder0::-moz-placeholder {
  color: #999;
}
.placeholder0:-ms-input-placeholder {
  color: #999;
}
.overlay1 {
  overflow: hidden;
}
.overlay1::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.overlay1::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -2;
  top: 0;
  right: 100%;
  width: 10000px;
  height: 100%;
  background-color: #fff;
  transform-origin: bottom right;
  -webkit-transform: skewX(156deg);
  -moz-transform: skewX(156deg);
  -ms-transform: skewX(156deg);
  -o-transform: skewX(156deg);
  transform: skewX(156deg);
}
.wrap-pic1 {
  width: 50%;
}
.wrap-pic1 img {
  max-width: 100%;
}
.focus-in0:focus::-webkit-input-placeholder {
  color: transparent;
}
.focus-in0:focus:-moz-placeholder {
  color: transparent;
}
.focus-in0:focus::-moz-placeholder {
  color: transparent;
}
.focus-in0:focus:-ms-input-placeholder {
  color: transparent;
}
.hov-cl0:hover {
  color: #fff;
}
.hov-bg0:hover {
  background-color: #fff;
}
.hov1:hover {
  background-color: #555;
}
@media (max-width: 1600px) {
  .respon1 {
    max-width: 38%;
  }
}
@media (max-width: 1200px) {
  .m-0-xl {
    margin: 0;
  }
  .m-lr-0-xl {
    margin-left: 0;
    margin-right: 0;
  }
  .m-lr-15-xl {
    margin-left: 15px;
    margin-right: 15px;
  }
  .m-l-0-xl {
    margin-left: 0;
  }
  .m-r-0-xl {
    margin-right: 0;
  }
  .m-l-15-xl {
    margin-left: 15px;
  }
  .m-r-15-xl {
    margin-right: 15px;
  }
  .p-0-xl {
    padding: 0;
  }
  .p-lr-0-xl {
    padding-left: 0;
    padding-right: 0;
  }
  .p-lr-15-xl {
    padding-left: 15px;
    padding-right: 15px;
  }
  .p-l-0-xl {
    padding-left: 0;
  }
  .p-r-0-xl {
    padding-right: 0;
  }
  .p-l-15-xl {
    padding-left: 15px;
  }
  .p-r-15-xl {
    padding-right: 15px;
  }
  .w-full-xl {
    width: 100%;
  }
  .respon1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 992px) {
  .m-0-lg {
    margin: 0;
  }
  .m-lr-0-lg {
    margin-left: 0;
    margin-right: 0;
  }
  .m-lr-15-lg {
    margin-left: 15px;
    margin-right: 15px;
  }
  .m-l-0-lg {
    margin-left: 0;
  }
  .m-r-0-lg {
    margin-right: 0;
  }
  .m-l-15-lg {
    margin-left: 15px;
  }
  .m-r-15-lg {
    margin-right: 15px;
  }
  .p-0-lg {
    padding: 0;
  }
  .p-lr-0-lg {
    padding-left: 0;
    padding-right: 0;
  }
  .p-lr-15-lg {
    padding-left: 15px;
    padding-right: 15px;
  }
  .p-l-0-lg {
    padding-left: 0;
  }
  .p-r-0-lg {
    padding-right: 0;
  }
  .p-l-15-lg {
    padding-left: 15px;
  }
  .p-r-15-lg {
    padding-right: 15px;
  }
  .w-full-lg {
    width: 100%;
  }
  .respon1 {
    max-width: 650px;
    min-height: unset;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .respon2 {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .respon2::after {
    top: 100%;
    right: 0;
    width: 100%;
    height: 10000px;
    transform-origin: top right;
    -webkit-transform: skew(180deg, 8deg);
    -moz-transform: skew(180deg, 8deg);
    -ms-transform: skew(180deg, 8deg);
    -o-transform: skew(180deg, 8deg);
    transform: skew(180deg, 8deg);
  }
}
@media (max-width: 768px) {
  .m-0-md {
    margin: 0;
  }
  .m-lr-0-md {
    margin-left: 0;
    margin-right: 0;
  }
  .m-lr-15-md {
    margin-left: 15px;
    margin-right: 15px;
  }
  .m-l-0-md {
    margin-left: 0;
  }
  .m-r-0-md {
    margin-right: 0;
  }
  .m-l-15-md {
    margin-left: 15px;
  }
  .m-r-15-md {
    margin-right: 15px;
  }
  .p-0-md {
    padding: 0;
  }
  .p-lr-0-md {
    padding-left: 0;
    padding-right: 0;
  }
  .p-lr-15-md {
    padding-left: 15px;
    padding-right: 15px;
  }
  .p-l-0-md {
    padding-left: 0;
  }
  .p-r-0-md {
    padding-right: 0;
  }
  .p-l-15-md {
    padding-left: 15px;
  }
  .p-r-15-md {
    padding-right: 15px;
  }
  .w-full-md {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .m-0-sm {
    margin: 0;
  }
  .m-lr-0-sm {
    margin-left: 0;
    margin-right: 0;
  }
  .m-lr-15-sm {
    margin-left: 15px;
    margin-right: 15px;
  }
  .m-l-0-sm {
    margin-left: 0;
  }
  .m-r-0-sm {
    margin-right: 0;
  }
  .m-l-15-sm {
    margin-left: 15px;
  }
  .m-r-15-sm {
    margin-right: 15px;
  }
  .p-0-sm {
    padding: 0;
  }
  .p-lr-0-sm {
    padding-left: 0;
    padding-right: 0;
  }
  .p-lr-15-sm {
    padding-left: 15px;
    padding-right: 15px;
  }
  .p-l-0-sm {
    padding-left: 0;
  }
  .p-r-0-sm {
    padding-right: 0;
  }
  .p-l-15-sm {
    padding-left: 15px;
  }
  .p-r-15-sm {
    padding-right: 15px;
  }
  .w-full-sm {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .m-0-ssm {
    margin: 0;
  }
  .m-lr-0-ssm {
    margin-left: 0;
    margin-right: 0;
  }
  .m-lr-15-ssm {
    margin-left: 15px;
    margin-right: 15px;
  }
  .m-l-0-ssm {
    margin-left: 0;
  }
  .m-r-0-ssm {
    margin-right: 0;
  }
  .m-l-15-ssm {
    margin-left: 15px;
  }
  .m-r-15-ssm {
    margin-right: 15px;
  }
  .p-0-ssm {
    padding: 0;
  }
  .p-lr-0-ssm {
    padding-left: 0;
    padding-right: 0;
  }
  .p-lr-15-ssm {
    padding-left: 15px;
    padding-right: 15px;
  }
  .p-l-0-ssm {
    padding-left: 0;
  }
  .p-r-0-ssm {
    padding-right: 0;
  }
  .p-l-15-ssm {
    padding-left: 15px;
  }
  .p-r-15-ssm {
    padding-right: 15px;
  }
  .w-full-ssm {
    width: 100%;
  }
}
